SQLAlchemy==1.4.46
aiosqlite==0.18.0
alembic==1.10.0
bidict==0.22.0
databases==0.7.0
fastapi==0.61.2
uvicorn==0.14.0
websockets==10.4
asyncpg==0.27.0
python-dotenv==0.21.0
pytest==7.2.2
requests==2.28.2
sqlalchemy-utils==0.40.0
psycopg2-binary==2.9.5